
.custom-input {
    font-family: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid dimgray;
    padding: 5px;
    background-color: transparent;
    color: var(--black-default)
}

.custom-input:active {
    border-bottom: 1px solid var(--blue-light);
}

.custom-input:focus {
    border-bottom: 1px solid var(--blue-light);
}