
.custom-checkbox {
    font-family: inherit;
    outline: none;
    border: 0;
    padding: 6px;
}

.custom-checkbox-label {
    font-family: inherit;
    outline: none;
    border: 0;
    padding: 6px;
    font-size: 0.7em;
}

.custom-checkbox {
    background-color: var(--blue-default);
    color: var(--white-lighter)
}

.custom-checkbox {
    background-color: var(--blue-light);
    color: var(--white-lighter)
}
