@inject NavigationManager Navigation

<div class="blg-head">
    <nav class="default-nav">
        <div class="brand">
            <a href="/">l3</a>
        </div>
        <ul>
            <AuthorizeView>
                <Authorized>
                    <li><NavLink class="nav-link" href="/post/create">CREATE POST</NavLink></li>
                    <li><NavLink class="nav-link" href="/account">ACCOUNT</NavLink></li>
                </Authorized>
                <NotAuthorized>
                    <li><NavLink class="nav-link" href="/account/login">LOGIN</NavLink></li>
                    <li><NavLink class="nav-link" href="/account/register">REGISTER</NavLink></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>
@*
<div class="navbar">
    <nav class="font-default bg-white">
        <div class="brand-group">
            <div class="brand">BLOG</div>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="user-group">
                    <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="user-group">
                    <span class="login">
                         <NavLink class="nav-link" href="/account/login">Log In</NavLink>
                    </span>
                    <span class="register">
                        <NavLink class="nav-link" href="/account/register">Register</NavLink>
                    </span>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
*@
