@inject NavigationManager Navigation
<div class="navbar">
    <nav class="font-default bg-white">
        <div class="brand-group">
            <div class="brand">BLOG</div>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="user-group">
                    <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="user-group">
                    <span class="login">
                        <a href="/account/login">Log in</a>
                    </span>
                    <span class="register">
                        <a href="/account/register">Register</a>
                    </span>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {}