@using Microsoft.AspNetCore.Identity
@using Application.Entities
@using AngleSharp.Dom
@inject NavigationManager navManager

<div class="blg-head">
    <nav class="default-nav">
        <div class="brand">
            <a href="/">l3</a>
        </div>
        <ul>
            <AuthorizeView>
                <Authorized>
                    <li><NavLink class="nav-link" href="@navManager.ToAbsoluteUri("/post/create")">CREATE POST</NavLink></li>
                    <li><NavLink class="nav-link" href="@navManager.ToAbsoluteUri("/auth/logout")">LOGOUT</NavLink></li>
                </Authorized>
                <NotAuthorized>
                    <li><NavLink class="nav-link" href="@navManager.ToAbsoluteUri("/auth/login")">LOGIN</NavLink></li>
                    <li><NavLink class="nav-link" href="@navManager.ToAbsoluteUri("/auth/register")">REGISTER</NavLink></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>
