@inject NavigationManager Navigation

<div class="blg-head">
    <nav class="default-nav">
        <div class="brand">
            <a href="/">l3</a>
        </div>
        <ul>
            <AuthorizeView>
                <Authorized>
                    <li><NavLink class="nav-link" href="/post/create">CREATE POST</NavLink></li>
                    <li><NavLink class="nav-link" href="/account">ACCOUNT</NavLink></li>
                </Authorized>
                <NotAuthorized>
                    <li><NavLink class="nav-link" href="/auth/login">LOGIN</NavLink></li>
                    <li><NavLink class="nav-link" href="/auth/register">REGISTER</NavLink></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>
