@page "/"

<PageTitle>Index</PageTitle>


<section class="custom-section">
    <div class="child-node" style="flex-direction: column;padding: 10px;">
        <h4 class="adjust" style="text-align: center; margin-bottom: 5px">the blog.</h4>
        <h2 class="adjust" style="text-align: center; font-weight: 500; margin-bottom: 7px;">Simple blog for simple writers.</h2>
        <h3 class="adjust" style="text-align: center; font-weight: 300;margin-bottom: 2rem;font-size: 1em;">The latest news directly from blazor server side.</h3>
        <article class="front-page">
            <div class="content">
                <h2 class="title adjust">UX review presentations</h2>
                <div class="description">How do you create compelling presentations that wow your colleagues and impress your managers?</div>
                <ul class="tags">
                    <li>Design</li>
                    <li>Research</li>
                    <li>Presentation</li>
                </ul>
            </div>
            <img alt="ds" style="width:100%" src="https://place-hold.it/1200x600"/>
        </article>
        <!--
        <article style="position: relative;">
            <div class="title">Google review questions.</div>
            <p class="description">A short description about something please I need to find something to put here.</p>
            <div class="tags">
                <span>Design</span>
                <span>Research</span>
                <span>Presentation</span>
            </div>
            <img alt="ds" style="width:100%" src="https://place-hold.it/1200x600"/>
        </article>-->
    </div>
</section>