@page
@using Web.Areas.Account.Pages
@using Application.Entities
@model MediatorLoginModel<BlogUser>;

@{
    ViewData["Title"] = "Login Into Account";
    Layout = "";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                @Html.AntiForgeryToken();
                <h2>Use a local account to log in.</h2>
                <hr/>
                <input asp-for="Input.Login" class="form-control" autocomplete="username" aria-required="true" name="Login" />
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" name="Password" />
                <div class="form-group">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
        </section>
    </div>
</div>


<!-- Login Page -->