@page
@using Web.Areas.Account.Pages;
@using Application.Entities;
@model MediatorLoginModel<BlogUser>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@Html.AntiForgeryToken();
<section class="custom-section" style="
            justify-content: center;
            height: 100vh;
            align-items: center;
            flex-direction: column">
    <div class="lds-dual-ring" style="display: none;"><div></div></div>
    <form id="loginForm" class="custom-form"  style="
            background: var(--white);
            display: flex; 
            align-items: center" method="post">
        <h3>Welcome Back</h3>
        <span class="subtitle">Enter your credentials to access your account.</span>
        <div class="form-spacer"></div>
        <div class="custom-form-group">
            <i class="fa-solid fa-user custom-input-icon" style="color: var(--blue-light)"></i>
            <input asp-for="Input.Login" name="Login" class="custom-input icon-supp" placeholder="Username or Email" type="text"/>
        </div>
        <div class="custom-form-group">
            <i class="fa-solid fa-lock custom-input-icon" style="color: var(--blue-light)"></i>
            <input asp-for="Input.Password" name="Password" class="custom-input icon-supp" placeholder="Password" type="password"/>
        </div>
        <div class="custom-form-group row"; style="margin-top: 6px; margin-bottom: 6px;">
            <div style="position: absolute;left: 0;">
                @Html.CheckBox("RememberMe")
                <label class="custom-checkbox-label">Remember Me</label>
            </div>
        </div>
        <div class="custom-form-group">
            <button class="custom-button default" id="loginSubmit"  type="submit">Log in</button>
        </div>
    </form>

    <p style="padding-top: 3rem;font-size: 0.8em;">Forgot your password? <a href="/account/reset_password" style="color: var(--blue-light)">Reset Password</a></p>
</section>
