@page
@using Web.Areas.Account.Pages;
@using Application.Entities;
@model MediatorLoginModel<BlogUser>;

<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
</head>

@{
    ViewData["Title"] = "Login Into Account";
    Layout = "";
}

<section class="custom-section" style="justify-content: center;height: 100vh;align-items: center">
    <form id="account" method="post" class="custom-form">
        <h2 style="color:var(--blue-default);text-align: center">@ViewData["Title"]</h2>
        @Html.AntiForgeryToken()
        <input asp-for="Input.Login" class="custom-input" autocomplete="username" aria-required="true" name="Login" placeholder="Username or Email"/>
        <input asp-for="Input.Password" class="custom-input" autocomplete="current-password" aria-required="true" name="Password" placeholder="Password" type="password"/>
        <div class="custom-form-group row">
            @Html.CheckBox("RememberMe")
            <label class="custom-checkbox-label">Remember Me</label>
        </div>
        <div class="form-group">
            <button id="login-submit" type="submit" class="custom-button default">Log in</button>
        </div>
        <label>Need an account? <a href="/account/register" style="color: var(--blue-light)">Register</a></label>
    </form>
</section>

<!-- Login Page -->