@page
@model Web.Areas.Account.Pages.MediatorRecoveryModel<BlogUser>
@using Application.Entities;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@Html.AntiForgeryToken()
<section class="blg-section" style="padding-left: 25px;padding-right: 25px;height: 100vh">
    <div class="blg-child-node col" style="color: #eae7e1;justify-content: center;align-items: center;">
        <form id="recoverForm" method="post" style="width: 270px;">
            <h3 style="font-weight: lighter;margin-bottom: 12px;">Recovery</h3>
            <div style="display: flex;flex-direction: column;gap: 12px;">
                <div class="group">
                    <span asp-validation-for="Input.Email" style="font-size: 0.6em;"></span>
                    <div asp-validation-summary="ModelOnly" style="font-size: 0.6em;"></div>
                </div>
                <div class="group">
                    <label>Email</label>
                    <input asp-for="Input.Email" placeholder="Email" type="email"/>
                </div>
                <div class="group">
                    <button id="recoverSubmit" type="submit">Request</button>
                </div>
                <div class="group">
                    <label style="font-size: 0.8em;">Need an account? <a href="/account/register" style="color: var(--primary-color);">Register</a></label>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@*
<section class="custom-section" style="
            justify-content: center;
            height: 100vh;
            align-items: center;
            flex-direction: column">
    <div class="lds-dual-ring" style="display: none;"><div></div></div>
    <form id="resetPasswordForm" class="custom-form"  style="
            background: var(--white);
            display: flex; 
            align-items: center" method="post">
        <h3>Forgot Password?</h3>
        <span class="subtitle">Enter your email to reset your password.</span>
        <span asp-validation-for="Input.Email" style="font-size: 0.6em;"></span>
        
        <div class="form-spacer"></div>
        <div class="custom-form-group">
            <i class="fa-solid fa-envelope custom-input-icon" style="color: var(--blue-light)"></i>
            <input asp-for="Input.Email" class="custom-input icon-supp" placeholder="Email" type="email"/>
        </div>
        <div class="custom-form-group">
            <button class="custom-button default" id="loginSubmit" type="submit">Reset Password</button>
        </div>
    </form>
</section>
*/

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@