@inherits LayoutComponentBase

<PageTitle>Web</PageTitle>

<div class="foundation">
    <!--todo: simplify this ok?-->
    <Navbar/>
    <main>
        @Body
    </main>
</div>

@code {
    
}

<!--
<div class="top-row px-4 auth">
    <LoginDisplay/>
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
</div>
-->