@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    --default-font: 'Poppins', sans-serif;
    
    --primary-background: black;
    --secondary-background: white;
    
    --primary-color: white;
    --secondary-color: black;
    
    --primary-font-size: 17px;
}

html, body {
    background: var(--primary-background);
    font-family: var(--default-font);
    font-size: var(--primary-font-size);
}

/* CUSTOM */
.blg-head {
    display: flex;
    justify-content: center;
}
nav.default-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}

nav.default-nav .brand {
    font-size: 2rem;
    font-weight: bold;
}

nav.default-nav .brand a {
    color: inherit;
    text-decoration: none;
}

nav.default-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 11px;
    gap: 7px;
    color: var(--secondary-color);
    background: var(--secondary-background);
    border-radius: 20px;
}

nav.default-nav li:not(:last-child):after {
    content: ','
}

nav.default-nav li a { 
    color: inherit; 
    text-decoration: none;
}
nav.default-nav li a:hover { opacity: 0.6; }
