@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Areas.Account.Pages.Recovery
@using Application.Entities
@model MediatorResetPassword<BlogUser>;

@{
    Layout = "_Layout";
}

@Html.AntiForgeryToken()
 @if (!Model.IsSuccessful)
 {
     <section class="blg-section" style="padding-left: 25px;padding-right: 25px;height: 100vh">
         <div class="blg-child-node col" style="color: #eae7e1;justify-content: center;align-items: center;">

             <form id="resetPasswordForm" method="post" style="width: 270px;">
                 <h3 style="font-weight: lighter;margin-bottom: 12px;">Password Reset</h3>
                 <div style="display: flex;flex-direction: column;gap: 12px;">
                     <div class="group">
                         <span asp-validation-for="Input.Password" style="font-size: 0.6em;"></span>
                         <span asp-validation-for="Input.ResetToken" style="font-size: 0.6em;"></span>
                         <div asp-validation-summary="ModelOnly" style="font-size: 0.6em;"></div>
                     </div>
                     <div class="group">
                         <label>New Password</label>
                         <input asp-for="Input.Password" placeholder="New Password" type="password"/>
                     </div>
                     <div class="group">
                         <label>Confirm Password</label>
                         <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" type="password"/>
                     </div>
                     <input asp-for="Input.UserId" type="hidden"/>
                     <input asp-for="Input.ResetToken" type="hidden"/>
                     <div class="group">
                         <button id="loginSubmit" type="submit">Reset Password</button>
                     </div>
                 </div>
             </form>
         </div>
     </section>
 }
 else
 {
     <section class="blg-section" style="padding-left: 25px;padding-right: 25px;height: 100vh;margin-top: 25px">
         <div class="blg-child-node col" style="color: #eae7e1;align-items: center;">
             <div style="padding: 15px;border-radius: 50%;display: flex;align-items: center;">
                 <i class="fa-solid fa-check" style="font-size: 2rem;"></i>
             </div>
             <div style="text-align:center;font-size: 1.3rem;"><b>Password Reset Successful</b></div>
                 <br>
                 <p style="max-width:500px;text-align:center;">You can now log in to your account using your new password.</p>
                 <br>
                 <button style="width: 150px;"><a href="~/auth/login" style="color:inherit;text-decoration: none;">Login</a></button>
         </div>
     </section>
     
 }
 