@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Areas.Account.Pages.Recovery
@using Application.Entities
@model MediatorResetPassword<BlogUser>;

@{
    Layout = "_Layout";
}

@Html.AntiForgeryToken()
<section class="custom-section" style="
            justify-content: center;
            height: 100vh;
            align-items: center;
            flex-direction: column">
    @if (!Model.IsSuccessful)
    {
        <div class="lds-dual-ring" style="display: none;">
            <div></div>
        </div>
        <form id="resetPasswordForm" class="custom-form" style="
            background: var(--white);
            display: flex; 
            align-items: center" method="post">
            <h3>Reset Password.</h3>
            <span class="subtitle">Enter your desired password.</span>
            <span asp-validation-for="Input.Password" style="font-size: 0.6em;"></span>
            <span asp-validation-for="Input.ResetToken" style="font-size: 0.6em;"></span>

            <div class="form-spacer"></div>
            <div class="custom-form-group col">
                <i id="password" class="fa-solid fa-lock custom-input-icon" style="color: var(--blue-light)"></i>
                <input asp-for="Input.Password" onkeyup="checkForMatch()" class="custom-input icon-supp" placeholder="Password" type="password"/>
            </div>
            <div class="custom-form-group col">
                <i id="dynamic_icon_label" class="fa-solid fa-x custom-input-icon" style="color: var(--blue-light)"></i>
                <input asp-for="Input.ConfirmPassword" onkeyup="checkForMatch()" class="custom-input icon-supp" placeholder="Confirm Password" type="password"/>
            </div>
            <input asp-for="Input.UserId" type="hidden"/>
            <input asp-for="Input.ResetToken" type="hidden"/>
            <div class="custom-form-group">
                <button class="custom-button default" id="loginSubmit" type="submit">Reset Password</button>
            </div>
        </form>
    }
    else
    {
        <section class="custom-section" style="
            justify-content: center;
            height: 100vh;
            align-items: center;
            flex-direction: column">
            <div class="custom-form" style="  background: var(--white);
                                      display: flex; 
                                      align-items: center;
                                      width: 500px;
                                      text-align: center">
                <h3>Password successfully reset</h3>
                <p style="padding-top: 3rem;font-size: 0.8em;">You can Log in <a href="/account/login" style="color: var(--blue-light)">here</a></p>
            </div>
        </section>
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

<script>    
    var password = document.getElementById("Input_Password");
    var confirmpassword = document.getElementById("Input_ConfirmPassword")
    var icon = document.getElementById("dynamic_icon_label")
    
    function checkForMatch(){
        if (password.value === confirmpassword.value) {
            icon.classList.remove("fa-x");
            icon.classList.add("fa-check");
         } else { 
            icon.classList.remove("fa-check");
            icon.classList.add("fa-x");
         }
    }
</script>
